@import "resets.css";
@import "layout.css";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --very-light-blue: #ECF2FF;
    --gradient-1: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
    --gradient-2: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%);
}
body {
    font-family: "Hanken Grotesk", sans-serif;
}
.page-wrapper {
    background-color: var(--very-light-blue);
}
.right-side.row {
    background-color: #fff;
    max-width: 736px;
    max-height: 512px;
    flex-direction: column;
    align-items: end;
    position: relative;
    border-radius: 32px;
}
.column {
    max-width: 288px;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
section.left-side.row {
    background: var(--gradient-1);
    color: white;
    max-width: 368px;
    height: 100%;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    gap: 35px;
}
.great {
    flex-direction: column;
    align-items: center;
    gap: 14px;
}
.great p {
    text-align: center;
    max-width: 260px;
}
#largest {
    font-size: 72px;
}
.score.row {
    background: var(--gradient-2);
    max-width: 200px;
    max-height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 55px 60px;
    border-radius: 999px;
}

.colorChange {
    color: var(--very-light-blue)
}
.group {
    max-width: 288px;
}