@import "resets.css";
@import "layout.css";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --very-light-blue: #ECF2FF;
    --light-blue: #CAC9FF;
    --gradient-1: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
    --gradient-2: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%);
    --reaction-: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55;
    --memory-: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #FFB21E;
    --verbal-: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00BB8F;
    --visual-: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #1125D6;
    --red: #F55;
    --yellow: #FFB21E;
    --green: #00BB8F;
    --blue: #1125D6;
    --dark-navy: #303B59;
}
body {
    font-family: "Hanken Grotesk", serif;
}
.page-wrapper {
    background-color: var(--very-light-blue);
}
.container {
    flex-direction: row;
    flex-shrink: 0;
    width: 736px;
    height: 512px;
    background-color: #ffffff;
    border-radius: 32px;
}
.rightSide {
    height:100%;
}
.summary {
    width: 288px;
}
.results {
    gap: 16px;
    width: 288px;
    font-size: 18px;
}
.icon {
    gap: 12px;
}
.reaction {
    padding: 16px;
    border-radius: 12px;
    background: var(--reaction-);
    color: var(--red);
}
.memory {
    padding: 16px;
    border-radius: 12px;
    background: var(--memory-);
    color: var(--yellow);
}
.verbal {
    padding: 16px;
    border-radius: 12px;
    background: var(--verbal-);
    color: var(--green);
}
.visual {
    padding: 16px;
    border-radius: 12px;
    background: var(--visual-);
    color: var(--blue);
}
button {
    font-family: inherit;
    font-size: 18px;
    padding: 16px 107px;
    border-radius: 128px;
    border: none;
    background: var(--dark-navy);
    color: #ffffff;
}
button:hover {
    background: var(--gradient-1);
}
.leftSide {
    height:100%;
    background: var(--gradient-1);
    border-radius: 32px;
}
.mainResult {
    background: var(--gradient-2);
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 50%;
}
.resultsWord {
    text-align: center;
    color: var(--light-blue);
    /*padding-top: 32px;*/
}

@media (max-width: 710px) {
    .container {
        flex-direction: column;
        height: 100%;
        max-width: 375px;
    }
}